.linkList {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  padding-left: 0;
  li {
    display: inline-block;
    text-decoration: none;
    a {
      background-color: #81c784;
      display: inline-block;
      color: #fff;
      height: 32px;
      margin: 0 3px;
      padding: 0 6px;
      font-size: 0.875rem;
      min-width: 32px;
      box-sizing: border-box;
      text-align: center;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 32px;
      border-radius: 50%;
      letter-spacing: 0.01071em;
      &:hover {
        background-color: rgba(56, 142, 60, 0.9);
      }
      &.active {
        background-color: rgba(56, 142, 60, 1);
      }
    }
  }
}
